# Use root/example as user/password credentials
version: '3'

services:
  db:
    image: mysql/mysql-server:5.7
    restart: always
    container_name: db
    environment:
      MYSQL_RANDOM_ROOT_PASSWORD: yes
      SECRET_KEY: my-secret-key
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      DB_HOST: db
    healthcheck:
      test: ["CMD-SHELL", "bash healthcheck.sh"]
      interval: 10s
      retries: 5
      start_period: 30s
      timeout: 10s
    volumes:
      - persisting_db_data:/var/lib/mysql
    networks:
      - microblog_network
    
  prod:
    restart: always
    image: eeemiiil/microblog:1.0.0-prod
    container_name:  mb
    ports:
      - 8000:5000
    environment:
      MYSQL_DATABASE: microblog
      SECRET_KEY: my-secret-key
      DATABASE_URL: ${DATABASE_URL}
      # DB_HOST: db
    # depends_on:
    #   db:
    #     condition: service_healthy
    networks:
      - microblog_network
  dev:
    restart: always
    image: microblog:1.0.0-prod
    container_name:  mb
    ports:
      - 8000:5000
    environment:
      MYSQL_DATABASE: microblog
      SECRET_KEY: my-secret-key
      DATABASE_URL: ${DATABASE_URL}
      # DB_HOST: db
    # depends_on:
    #   db:
    #     condition: service_healthy

    networks:
      - microblog_network
  test:
    image: eeemiiil/microblog:1.0.0-test
    container_name:  mb
    volumes:
      - ./app:/home/microblog/app
      - ./tests:/home/microblog/tests

volumes:
  persisting_db_data:
networks:
  microblog_network:
