name: Continuous Security
on:
  workflow_call:
  release:
    types: [created]

jobs:
  security_checks:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v3
        with:
          python-version: '3.8'

      - name: Install dependencies
        run: |
          pip install bandit
          curl -sfL https://raw.githubusercontent.com/aquasecurity/trivy/main/contrib/install.sh | sh
          VERSION=$(curl --silent "https://api.github.com/repos/goodwithtech/dockle/releases/latest" | grep '"tag_name":' | sed -E 's/.*"v([^"]+)".*/\1/') && curl -L -o dockle.deb https://github.com/goodwithtech/dockle/releases/download/v${VERSION}/dockle_${VERSION}_Linux-64bit.deb
          sudo dpkg -i dockle.deb && rm dockle.deb

      - name: Check if docker buildx is available
        run: docker buildx version || echo "buildx is not available"


      - name: Check Docker version
        run: docker --version

      - name: Disable Docker buildx (use legacy builder)
        run: export DOCKER_BUILDKIT=0


      - name: Run Trivy on image
        run: |
          export DOCKER_BUILDKIT=0
          make trivy-image TAG=${{ github.event.release.tag_name }}-prod

      - name: Run Trivy on filesystem
        run: make trivy-fs

      - name: Run Dockle
        env:
          DOCKER_CONTENT_TRUST: 1
        run: make dockle TAG=${{ github.event.release.tag_name }}-prod

      - name: Prune Docker system
        run: docker system prune -af
